{%- macro catch(on_exception) %}{{ caller|handle_catch(on_exception) }}{% endmacro %}
system {
    hostname {{device|replace("#","")|replace(" ","-")}}
    root-authentication {
        encrypted-password "$6$FOqEb6YS$a3/b1ZqyiZzE0gBQ0jq4.DGdEl6vIlh5rv.qdxQ2LVx8QYrZ6xafHTDIqlBnJLP5p3oOOX9gguUMi3xN5KAU60"; ## SECRET-DATA
    }
    login {
        user admin {
            full-name admin;
            uid 100;
            class super-user;
            authentication {
                encrypted-password "$6$wUcva1Gq$UpRGvfV9DLsQanGuzRFAGieQLKGcYvdH6smEgbuZiVYrzjUeWlytNBYkbZnr9Q4a9Ek5EpA0fD5e/w1S5Ipis/"; ## SECRET-DATA
            }
        }
    }
    services {
        ftp;
        ssh {
            protocol-version v2;
        }
        netconf {
            ssh;
            rfc-compliant;
            yang-compliant;
        }
        dhcp-local-server {
            route-suppression {
                access-internal;
            }
            group Flypack1DHCP {
            {%- set vlans = device.site.region.vlan_groups.first().vlans.all()|list + device.site.vlans.all()|list %}
                {%- for interface in device.interfaces.all() %}
                {%- if interface.is_virtual and interface.is_lag == False %}
                interface irb.{{interface.label}};
                {%- endif %}    
                {%- endfor%}
            }
        }
        web-management {
            http;
        }
    }
    auto-snapshot;
    time-zone Europe/London;
    syslog {
        host {{syslog_server}} {
            any info;
            interactive-commands warning;
        }
        file interactive-commands {
            interactive-commands warning;
        }
        file messages {
            any warning;
            authorization warning;
            user warning;
            interactive-commands warning;
        }
        {%- call catch('') %}
        source-address {{device.primary_ip4|ip()}};
        {%- endcall %}
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
    ntp {
        server {{sntp_server}};
    }
}
chassis {
    redundancy {
        graceful-switchover;
    }
    aggregated-devices {
        ethernet {
            device-count 21;
        }
    }
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}
interfaces {
    {%- for interface in device.interfaces.all()%} {#Add interfaces for other switches in virtual chassis too#}
    {%- if interface.enabled == True and interface.mgmt_only != True and interface.type != 'juniper-vcp' and interface.type != 'virtual' %}
    {{interface.label}} {
        {%- set description = interface.description %}
        {%- if description == '' %}         {#Code to set interface descriptions#}
            {%- if interface.link_peers %}
                {%- set peer = interface.link_peers|first %}
                {%- set description = peer.device %}
            {%- endif %}
        {%- endif %}
        description "{{description}}";
        {%- if interface.lag.label is defined %}    {#Code for LAG member port config#}
        ether-options {
            802.3ad {{interface.lag.label}}
        }
        {%- endif %}
        {%- if interface.mode == 'access' and interface.untagged_vlan.vid is defined %}        {#Code for access port config#}
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members {{interface.untagged_vlan.vid}};
                }
                storm-control default;
            }
        }
        {%- elif interface.mode == 'tagged-all'%}       {#Code for trunk port config#}
        unit 0 {
            {%-if interface.untagged_vlan.vid is defined %}
            vlan-id {{interface.untagged_vlan.vid}};
            {%- endif %}
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
        {%- endif %}
        {%- if interface.type == 'lag' %}   {#Code for LAG ports#}
        aggregated-ether-options {
            lacp {
                active;
            }
            unit 0 {
                family ethernet-switching {
                    interface-mode trunk;
                    vlan {
                        members all;
                    }
                }
            }
        }    
        {%- endif %}
    }
    {%- elif interface.enabled == False %}
    {{interface.label}} {
        disable;
    }
    {%- endif %}
    {%- endfor %}
    irb {
    {%- for interface in device.interfaces.all() %}
    {%- if interface.is_virtual and interface.is_lag == False %}
        unit {{interface.label}} {
            family inet {
                {%- call catch('') %}
                address {{interface.ip_addresses.get()}};
		        {%- endcall %}
            }
        }
    {%- endif %}    
    {%- endfor%}  
}
snmp {
    contact "{{snmp_contact}}";
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
{# access{
    address-assignment{
        {%- for ip_range in ip_ranges %}
        pool {{ip_range.description|replace(" ","")}} {
            family inet {
                network <address>.0/24;
                range {{ip_range.description|replace(" ","")}}Range
                    low {{ip_range.start}};
                    high {{ip_range.end}};
                }
                dhcp-attributes {
                    maximum-lease-time 3600;
                    router {
                        <address>.254;
                    }
                }
        }
        {%- endfor %}
    }
} #}
protocols {
    router-advertisement {
        interface vme.0;
        interface irb.0;
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan default;
    }
    mstp {
        configuration-name {{mst_name}};
        revision-level {{mst_revision}};
        bridge-priority 32k;
        interface all;
    }
}
routing-options {
    static {
        route 10.40.0.0/16 next-hop 10.40.40.254;
    }
}
virtual-chassis {
    member 0 {
        mastership-priority 255;
    }
    member 1 {
        mastership-priority 10;
    }
    member 2 {
        mastership-priority 254;
    }
    member 3 {
        mastership-priority 9;
    }
}
vlans {
    {%- for vlan in vlans %}
    {%- if vlan.vid is defined %}
    {{vlan.name}} {
        vlan-id {{vlan.vid}};
        {# {%- if interface(vlan).is_virtual and interface(vlan).is_lag == False %} #}
        {%- if vlan.vid in device.interfaces.all()|map('label') %}
        l3-interface irb.{{vlan.vid}};
        {%- endif %}
    }
    {%- endif %}
    {%- endfor %}
    default {
        vlan-id 1;
        l3-interface irb.0;
    }
}