device: [
	'consoleports - ManyToOneRel',
	'consoleserverports - ManyToOneRel',
	'powerports - ManyToOneRel',
	'poweroutlets - ManyToOneRel',
	'interfaces - ManyToOneRel',
	'frontports - ManyToOneRel',
	'rearports - ManyToOneRel',
	'modulebays - ManyToOneRel',
	'devicebays - ManyToOneRel',
	'parent_bay - OneToOneRel',
	'inventoryitems - ManyToOneRel',
	'cabletermination - ManyToOneRel',
	'modules - ManyToOneRel',
	'vc_master_for - OneToOneRel',
	'vdcs - ManyToOneRel',
	'services - ManyToOneRel',
	'virtual_machines - ManyToOneRel',
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'local_context_data - JSONField',
	'device_type - ForeignKey',
	'device_role - ForeignKey',
	'tenant - ForeignKey',
	'platform - ForeignKey',
	'name - CharField',
	'_name - NaturalOrderingField',
	'serial - CharField',
	'asset_tag - CharField',
	'site - ForeignKey',
	'location - ForeignKey',
	'rack - ForeignKey',
	'position - DecimalField',
	'face - CharField',
	'status - CharField',
	'airflow - CharField',
	'primary_ip4 - OneToOneField',
	'primary_ip6 - OneToOneField',
	'cluster - ForeignKey',
	'virtual_chassis - ForeignKey',
	'vc_position - PositiveSmallIntegerField',
	'vc_priority - PositiveSmallIntegerField',
	'config_template - ForeignKey',
	'tags - TaggableManager',
	'contacts - GenericRelation',
	'images - GenericRelation',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

site :[
	'circuit_terminations - ManyToOneRel',
	'cabletermination - ManyToOneRel',
	'devices - ManyToOneRel',
	'powerpanel - ManyToOneRel',
	'racks - ManyToOneRel',
	'locations - ManyToOneRel',
	'prefixes - ManyToOneRel',
	'vlans - ManyToOneRel',
	'clusters - ManyToOneRel',
	'virtual_machines - ManyToOneRel',
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'name - CharField',
	'_name - NaturalOrderingField',
	'slug - SlugField',
	'status - CharField',
	'region - ForeignKey',
	'group - ForeignKey',
	'tenant - ForeignKey',
	'facility - CharField',
	'time_zone - TimeZoneField',
	'physical_address - CharField',
	'shipping_address - CharField',
	'latitude - DecimalField',
	'longitude - DecimalField',
	'tags - TaggableManager',
	'asns - ManyToManyField',
	'vlan_groups - GenericRelation',
	'contacts - GenericRelation',
	'images - GenericRelation',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

prefix: [
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'prefix - IPNetworkField',
	'site - ForeignKey',
	'vrf - ForeignKey',
	'tenant - ForeignKey',
	'vlan - ForeignKey',
	'status - CharField',
	'role - ForeignKey',
	'is_pool - BooleanField',
	'mark_utilized - BooleanField',
	'_depth - PositiveSmallIntegerField',
	'_children - PositiveBigIntegerField',
	'tags - TaggableManager',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

IPRange: [
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'start_address - IPAddressField',
	'end_address - IPAddressField',
	'size - PositiveIntegerField',
	'vrf - ForeignKey',
	'tenant - ForeignKey',
	'status - CharField',
	'role - ForeignKey',
	'mark_utilized - BooleanField',
	'tags - TaggableManager',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

Tenant: [
	'circuits - ManyToOneRel',
	'cables - ManyToOneRel',
	'devices - ManyToOneRel',
	'vdcs - ManyToOneRel',
	'racks - ManyToOneRel',
	'rackreservations - ManyToOneRel',
	'sites - ManyToOneRel',
	'locations - ManyToOneRel',
	'asn_ranges - ManyToOneRel',
	'asns - ManyToOneRel',
	'vrfs - ManyToOneRel',
	'route_targets - ManyToOneRel',
	'aggregates - ManyToOneRel',
	'prefixes - ManyToOneRel',
	'ip_ranges - ManyToOneRel',
	'ip_addresses - ManyToOneRel',
	'l2vpns - ManyToOneRel',
	'vlans - ManyToOneRel',
	'clusters - ManyToOneRel',
	'virtual_machines - ManyToOneRel',
	'wireless_lans - ManyToOneRel',
	'wireless_links - ManyToOneRel',
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'name - CharField',
	'slug - SlugField',
	'group - ForeignKey',
	'tags - TaggableManager',
	'contacts - GenericRelation',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

IP: [
	'interface - GenericRel',
	'fhrpgroup - GenericRel',
	'nat_outside - ManyToOneRel',
	'services - ManyToManyRel',
	'vminterface - GenericRel',
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'description - CharField',
	'comments - TextField',
	'address - IPAddressField',
	'vrf - ForeignKey',
	'tenant - ForeignKey',
	'status - CharField',
	'role - CharField',
	'assigned_object_type - ForeignKey',
	'assigned_object_id - PositiveBigIntegerField',
	'nat_inside - ForeignKey',
	'dns_name - CharField',
	'tags - TaggableManager',
	'assigned_object - GenericForeignKey',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]

Role: [
	'prefixes - ManyToOneRel',
	'ip_ranges - ManyToOneRel',
	'vlans - ManyToOneRel',
	'id - BigAutoField',
	'created - DateTimeField',
	'last_updated - DateTimeField',
	'custom_field_data - JSONField',
	'name - CharField',
	'slug - SlugField',
	'description - CharField',
	'weight - PositiveSmallIntegerField',
	'tags - TaggableManager',
	'journal_entries - GenericRelation',
	'tagged_items - GenericRelation'
]
