<pre>
{%- for range in queryset %}
pool {{range.description}} {
	family inet {
		network {{range.start_address|network()}};
		range InternetRange {
			low {{range.start_address}};
			high {{range.end_address}};
		}
		dhcp-attributes {
			name-server {
				62.244.176.176;
				62.244.177.177;
			}
			router {
				{{range.start_address|gateway()}};
			}
		}
	}
}
{%- endfor %}
</pre>