{%- set vlans = device.site.region.vlan_groups.first().vlans.all()|list + device.site.vlans.all()|list %}
{%- for vlan in vlans %}
    {%- if vlan.vid is defined %}
    vlan {{vlan.vid}}
    {%- endif %}
{%- endfor %}