hostname "NEP-WBS-{{device.name}}"
management vlan ip-address {{device.primary_ip4|ip()}} mask {{device.primary_ip4|netmask()}}
no management vlan ip dhcp client
ip default-gateway {{device.primary_ip4|gateway()}}
clock source sntp
sntp server {{sntp_server}} port {{sntp_port}}
snmp-server location "CAR"
clock timezone GMT 0 minutes 0
username "{{user}}" secret encrypted {{secret}}
no passwords complexity enable
passwords aging 0
!

{% set vlans = device.interfaces.all()|map(attribute='untagged_vlan')|map(attribute='vid')|unique %}
{{vlans|join()}}

{% set vlans2 = device.interfaces.all()|map(attribute='tagged_vlans')|sum(attribute='vid', start = []) %}
{{vlans2|join()}}

vlan 41
 name "Vision_Control"
vlan 999
 name "WAN"
vlan 1011-1012,1021-1022,2001
management-vlan vlan 41
!
{% include 'cisco/spanning_tree.j2' %}
!
no cdp log mismatch native
!
ip ssh server
!
qos advanced
qos map dscp-queue 8 to 6
qos map dscp-queue 46 to 7
!
!{% for interface in device.interfaces.all() %}{% if interface.lag.label is defined %}
interface {{interface.label}}
 channel-group {{interface.lag.label|replace('po','')}} mode active
!{% else %}{% if interface.enabled == True %}
interface {{interface.label}}{% if interface.mode == 'tagged-all' %}
 switchport trunk allowed vlan add 1-4094{% endif %}{% if interface.mode == 'tagged' %}
 switchport trunk allowed vlan add {{interface.tagged_vlans.all()|join(',',attribute='vid')}}{% if interface.untagged_vlan.vid is defined %}
 switchport trunk native vlan {{interface.untagged_vlan.vid}}
 switchport default-vlan tagged{% endif %}{% endif %}{% if interface.mode == 'access' %}
 switchport mode access
 switchport access vlan {{interface.untagged_vlan.vid}}{% endif %}
!{% endif %}{% endif %}{% endfor %}