hostname "{{device.name|replace("#","")|replace(" ","-")}}"
{%- if device.primary_ip4 %}
management vlan ip-address {{device.primary_ip4|ip()}} mask {{device.primary_ip4|netmask()}}
no management vlan ip dhcp client
ip default-gateway {{device.primary_ip4|gateway()}}
{%- endif %}
clock source sntp
sntp server {{sntp_server}} port {{sntp_port}}
snmp-server sysname "{{snmp_sysname}}"
snmp-server location "{{device.location.name|replace("#","")|replace(" ","-")}}"
snmp-server contact "{{snmp_contact}}"
clock timezone GMT 0 minutes 0
username "{{user}}" secret {{secret}}
passwords aging 0
!
{%- set vlans = device.site.region.vlan_groups.first().vlans.all()|list + device.site.vlans.all()|list %}
{%- for vlan in vlans %}
    {%- if vlan.vid is defined %}
vlan {{vlan.vid}}
 name "{{vlan.name}}"
!
    {%- endif %}
{%- endfor %}
!
management-vlan vlan {{device.primary_ip4|ip()|string()|split(2,".")}}
!
{% include 'cisco/spanning_tree.j2' %}
!
no cdp log mismatch native
!
ip ssh server
!
qos advanced
qos map dscp-queue 8 to 6
qos map dscp-queue 46 to 7
!
{%- for interface in device.interfaces.all() %}
    {%- if interface.lag.label is defined %}
interface {{interface.label}}
 channel-group {{interface.lag.label|replace('po','')}} mode active
        {%- set description = interface.description %}
        {%- if description == '' %}
            {%- if interface.link_peers %}
                {%- set peer = interface.link_peers|first %}
                {%- set description = peer.device.name %}
            {%- endif %}
        {%- endif %}
 description "{{description}}"
!
    {%- else %}
        {%- if interface.enabled == True and interface.mgmt_only != True %}
interface {{interface.label}}
            {%- if interface.mode == 'tagged-all' %}
 switchport trunk allowed vlan add 1-4094
                {%- if interface.untagged_vlan.vid is defined %}
 switchport trunk native vlan {{interface.untagged_vlan.vid}}
                {%- endif %}
            {%- elif interface.mode == 'tagged' %}
 switchport trunk allowed vlan add {{interface.tagged_vlans.all()|join(',',attribute='vid')}}
                {%- if interface.untagged_vlan.vid is defined %}
 switchport trunk native vlan {{interface.untagged_vlan.vid}}
 switchport default-vlan tagged
                {%- endif %}
            {%- elif interface.mode == 'access' %}
 switchport mode access
 switchport access vlan {{interface.untagged_vlan.vid}}
            {%- else %}
 no switchport mode
            {%- endif %}
            {%- set description = interface.description %}
            {%- if description == '' %}
                {%- if interface.link_peers %}
                    {%- set peer = interface.link_peers|first %}
                    {%- set description = peer.device.name %}
                {%- endif %}
            {%- endif %}
 description "{{description}}"
!
        {%- endif %}
    {%- endif %}
{%- endfor %}
!
banner login ^
IP Flypack - {{device.name}}^