vlan database
{%- set vlans = device.site.region.vlan_groups.first().vlans.all()|list + device.site.vlans.all()|list %}
{%- for vlan in vlans %}
    {%- if vlan.vid is defined %}
    vlan {{vlan.vid}}
    {%- endif %}
{%- endfor %}
exit
hostname "{{device.name|replace("#","")|replace(" ","-")|replace("(","")|replace(")","")|replace("Switch-","")}}"
aaa authentication login authorization SSH local
aaa authentication enable authorization SSH enable
line ssh
    login authentication SSH
    enable authentication SSH
    password da39a3ee5e6b4b0d3255bfef95601890afd80709 encrypted
exit
no passwords complexity enable
passwords aging 0
username admin password encrypted 5cc4b2a823577ad2d59259c5c3ecb295d209ba32 privilege 15
username cisco password encrypted 5cc4b2a823577ad2d59259c5c3ecb295d209ba32 privilege 15
ip ssh server
ip ssh password-auth
snmp-server location "{{device.name|replace("#","")|replace(" ","-")}}"              
clock timezone GMT 0 minutes 0
clock source sntp
sntp unicast client enable
sntp server {{sntp_server}}
sntp source-interface vlan {{management_vlan}}
{% include 'cisco/spanning_tree.j2' %}
interface vlan {{device.primary_ip4|ip()|split(3,".")}}
 ip address {{device.primary_ip4|ip()}} {{device.primary_ip4|netmask()}}
 Y
 no ip address dhcp
 Y
exit
{%- for interface in device.interfaces.all() %}
    {%- if interface.lag.label is defined %}
interface {{interface.label}}
 channel-group {{interface.lag.label|replace('po','')}} mode auto
        {%- set description = interface.description %}
        {%- if description == '' %}
            {%- if interface.link_peers %}
                {%- set peer = interface.link_peers|first %}
                {%- set description = peer.device.name %}
            {%- endif %}
        {%- endif %}
 description "{{description}}"
exit
    {%- else %}
        {%- if interface.enabled == True and interface.mgmt_only != True %}
interface {{interface.label}}
            {%- if interface.mode == 'tagged-all' %}
 switchport trunk allowed vlan add all
            {%- elif interface.mode == 'tagged' %}
 switchport trunk allowed vlan add {{interface.tagged_vlans.all()|join(',',attribute='vid')}}
                {%- if interface.untagged_vlan.vid is defined %}
 switchport trunk native vlan {{interface.untagged_vlan.vid}}
 switchport default-vlan tagged
                {%- endif %}
            {%- elif interface.mode == 'access' %}
 switchport mode access
 switchport access vlan {{interface.untagged_vlan.vid}}
            {%- else %}
 no switchport
            {%- endif %}
            {%- set description = interface.description %}
            {%- if description == '' %}
                {%- if interface.link_peers %}
                    {%- set peer = interface.link_peers|first %}
                    {%- set description = peer.device.name %}
                {%- endif %}
            {%- endif %}
 description "{{description}}"
exit
        {%- endif %}
    {%- endif %}
{%- endfor %}
banner login
IP Flypack - {{device.name}}
