spanning-tree mode mstp
spanning-tree mst configuration
 name "{{mst_name}}"
 revision {{mst_revision}}
{%- set groups = device.site.region.vlan_groups.all()|list + device.site.vlan_groups.all()|list %}
{%- for group in groups %}
 instance {{loop.index}} vlan {{group.vlans.all()|map(attribute='vid')|join(",")}}
{%- endfor %}
exit
spanning-tree mst 0 priority 36864